---
layout: default
---
<script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
<script src="/main.js"></script>

<h1>{{ page.title }}</h1>
<h3>Tags: {{ page | tags }}</h3>
<article class="post">
  <div class="entry">
    {{ content }}
  </div>
  <div class="entry">
  (未经授权禁止转载)
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <p>博主将十分感谢对本文章的任意金额的打赏^_^</p>
  <img src="../images/dashang1.jpeg" />
  <img src="../images/dashang2.jpeg" />
    
    
  {% include disqus.html %}
</article>
